.log-in-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.log-in-text{
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

.different-text{
    color: rgb(92, 16, 136);
}

.login-form{
    background-color: #7a7a9b;
    width: 32vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.input-group{
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child{
    margin-bottom: 0;
}

.input-group label{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.input-group input{
    outline: none;
    background: none;
    border: 1px solid white;
    font-size: 1em;
    padding: 0.5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus{
    border-color: #2F303A;
}

@media (max-width: 900px){
    .log-in-section{
        flex-direction: column;
        justify-content: center;
    }

    .login-form{
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}