.footer_container{
    color:#FFF;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0a0a0a;
}

.footer_container div{
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: #0a0a0a;
}

.album_info{
    width: 20%;
}

.title {
    padding-top: 13px;
    padding-bottom: 5px;
}

.album_link {
    padding-left: 60px;
    padding-right: 30px;    
}
.album_link img {
    width: 65px;
    height: 65px;
    border-radius: 40px;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


.album_info p {
    background-color: #0a0a0a;
    font-family: "Montserrart" , sans-serif;
    font-weight: 550;
    font-size: 14px;
    color: #818181
}

.player {
    
}

.player button{
    border: 0px;
    background-color: #0a0a0a;
    margin-top: 25px;
    margin-right: 10px;
}

.player img {
    background-color: #0a0a0a;
}

.player_option {
}

.player_options button {
    border: 0px;
    background-color: #0a0a0a;
    margin-top: 25px;
    margin-left: 50px;
}

.player_options img {
    background-color: #0a0a0a;
}

.progress_bar {
    -webkit-appearance: none;
    width: 750px;
    height: 8px;
    border: 1px;
    overflow: hidden;
    border-right: 10px;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 20px;
}

.volume_bar {
    -webkit-appearance: none;
    width: 100px;
    height: 8px;
    border: 1px;
    overflow: hidden;
    border-right: 10px;
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 20px;
}

