.footer_container{
    color:#FFF;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer_container div{
    padding-top: 8px;
    padding-bottom: 2px;
    background-color: #1a1a1a;
}

.album_info{
    width: 30%;
}

.title {
    padding-top: 9px;
    padding-bottom: 5px;
}

.album_info p {
    background-color: #1a1a1a;
    color:darkgrey;
}

.album_link {
    padding-left: 45px;
    padding-right: 30px;
    background-color: aqua;
    
}
.album_link img {
    width: 70px;
    height: 70px;
}

.player {
    display: flex;
}

.player img {
    width: 60px;
    height: 60px;
}