.wrapper{
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box{
    width: 80%;
    margin-top: 50px;
    margin-left: 60px;
}

.search_box input[type="text"]{
    width: 100%;
    padding: 10px 0 15px 15px;
    padding-right: 60px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: none;
    background: #2b2b2b;
    font-size: 40px;
    font-weight: 600;
}

.fa-search{
    position: absolute;
    top: 13%;
    transform: translateY(-50%);
    right: 16%;
    color: #fff;
    font-size: 25px;
    width: 35px;
    height: 35px;
    opacity: 0.0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #4d4d4d;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #4d4d4d;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #4d4d4d;
}

@media screen and (max-width: 425px){
  .search_box{
    width: 95%;
  }
}










.tracklistRow {
     height: 5vh;
     padding: 15px 10px;
     list-style: none;
     background-color: #2b2b2b;
}
 #songs:hover{

}
 .tracklistRow span {
     color: #939393;
     font-weight: 200;
}
 .tracklistRow .trackCount {
     width: 12%;
     float: left;
}
 .tracklistRow .trackCount span {
     visibility: visible;
}
 .tracklistRow .trackCount img {
     margin: 15px 0px -5px 40px;
     width: 25px;
     cursor: pointer;
     opacity: 10%;
}
 .tracklistRow .trackCount img:hover {
     opacity: 100%;
}
 .tracklistRow .trackInfo {
     width: 65%;
     float: left;
     color: #fff;
     margin-left: -4px;
     margin-bottom: 7px;
}
 .tracklistRow .trackInfo span {
     display: block;
}
 .tracklistRow .trackDuration {
     width: 12%;
     float: left;
     text-align: right;
}





 .tracklistContainer {
     padding-left: 20px;

}


 .tracklistContainer h2 {
     text-align: left;
     margin-bottom: 30px;
     padding-left: 50px;

}
.noResults {
    display: block;
    padding-left: 100px;
    text-align: left;
    font-size: 16px;
    font-weight: 700;
    color: #818181;
}
