@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(-45deg, rgb(95, 95, 194), rgb(150, 32, 150), #EE7752, #E73C7E,  #23A6D5, #23D5AB, white);
  font-family: "Montserrart", sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2em;
  color: inherit;
  text-decoration: none;
}

.logo-name {
  margin-left: 1rem;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}



.btn {
  color: white;
  background-color: rgba(133, 226, 226, 0.281);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn2 {
  color: white;
  background-color: rgba(133, 226, 226, 0.253);
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(24, 103, 122);
}

.btn2:hover {
  background-color: rgb(24, 103, 122);
}

.btn:focus {
  background-color: rgb(98, 155, 155);
}

.btn2:focus {
  background-color: rgb(98, 155, 155);
}