@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrart" , sans-serif;
    background-color: #2b2b2b;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #999999;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C5C5C;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

ul ,li,a {
    font-family: "Montserrart" , sans-serif;
    font-weight: 550;
    font-size: 17px;
    color: #818181;
    text-decoration: none;
    background-color: #0d0d0d;

}

@media only screen and (min-width : 400px) {
    .padder {
        padding: 0% 0% 0% 37%;
    }

}
.body_header {
    padding-top: 70px;
    margin-left: 00px;
    color: #FFF;
}

.album_art_top {
    padding-top: 25px;
    margin-left: 275px;
    display: flex;    
}

.album_art {
    margin-top: 30px;
    margin-left: 275px;
    display: flex;    
}

.single_album_art {
    margin-left: 25px;
    padding: 10px;
    background-color: #4f4f4f;
    border-radius: 5px;
}

.single_album_art img {
    width: 130px;
    height: 130px;
}

.single_album_art p{
    padding-top: 5px;
    background-color: #4f4f4f;
}

.single_album_art img {
    border-radius: 5px;
    opacity: 1;
}

.button {
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #fff;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}

.button.green {
    background-color: #2ebd59;
    border-color: #2ebd59;
}

input:focus {
    outline: none;
}

[role="link"] {
    cursor: pointer;
}

.userDetails {
    padding: 20px;
}

.userDetails .container h2 {
    margin-top: 15%;
    text-align: center;
    color: aliceblue;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"],
.userDetails .container .button {
    display: block;
    margin: 16px auto;
}

.userDetails .container input[type="text"],
.userDetails .container input[type="password"] {
    height: 50px;
    width: 100%;
    background: #1f1f1f;
    border: none;
    font-size: 18px;
    font-weight: 300;
    padding: 0 20px;
    color: aliceblue;
}

.userDetails .container .message {
    color: #2ebd59;
    font-weight: 300;
}


